[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
pyyaml = "*"
playwright = "*"
bs4 = "*"
html5lib = "*"
python-edubag = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.9"
