[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
bs4 = "*"
python-edubag = {file = ".", editable = true}
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.9"
